.list-input-control__container {
  align-items: flex-end;
  width: 330px;
  justify-content: space-between;
}

.list-items__container {
  max-height: 530px;
  overflow-y: scroll;
  list-style-position: inside;
  margin-top: 10px;
}
