.list-item__container {
  width: 300px;
  justify-content: space-between;
  padding: 5px 10px;
}

.remove:hover {
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.5);
  cursor: pointer;
  /* padding: 5px; */
}

.remove--disabled {
  pointer-events: none;
}
