.list-item__container {
  width: 320px;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  align-items: center;
  margin: 10px 0;
  background-color: white;
}

.list-item__container:hover {
  background-color: #e5e5e5;
}

.dragging {
  background-color: #e5e5e5;
}

.remove:hover {
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 1);

  cursor: pointer;
  /* padding: 5px; */
}

.remove--disabled {
  pointer-events: none;
}

.list-item__label {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
}
