body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border-style: unset;
  background-color: unset;
}

button:hover {
  border-radius: unset;
  border-style: unset;
  background-color: unset;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.inline-block {
  display: inline-block;
}

input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  border: 1px solid purple;
  border-radius: 2px;
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked {
  background-color: purple;
  background: purple
    url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==")
    3px 3px no-repeat;
  border-color: purple;
}

input[type="checkbox"]:focus {
  outline: none;
}
